#titulo {
	height: 80px;
	margin: 10% 0% 5% 0%;
	text-align: center;
	font-size:45px;
	color: #7CFC00;
	font-family: Arial;
	-webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
	position: relative;

}

#semicirculo {
	width: 100%;
	height: 75%;
	border-radius: 100%;
	background-color: rgb(210, 255, 255);
	margin-top: -25%;
	margin-left: -23%;
	position: absolute;

}

#mostrador_calculo{
	width: 30%;
	height: 25px;
	margin-left: 54%;
	margin-bottom: 1%;
	padding: 0px;
	font-size: 25px;
	border-radius: 10px;
	text-align: right;
	outline: 0;
	position: relative;
}

#resultados {
	width: 70%;
	height: 35px;
	margin-left: 14%;
	padding: 0px;
	font-size: 30px;
	border-radius: 10px;
	text-align: center;
	outline: 0;
	position: relative;

}

#botoes button {
	height: 100%;
	width: 90%;
	margin: 0 auto;
	font-size: 25px;
	border-radius: 10px;
	outline: 0;
}

#botoes {
	width: 85%;
	height: 300px;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 0px;
	position: relative;

} 

#botoes table{
	width: 85%;
	height: 85%;
	margin: 0 auto;
	border-color: transparent;

}

#botoes td{
	padding: 3px;

}

#fundo {
	
	width: 55%;
	height: 550px;
	padding: 0px;
	margin:0 auto;
	margin-top: 3%;
}

body{
	background-color: #F0FFFF;
}

#igual{
	background-color: #BBFFFF;
}
#clear{
	background-color: #BBFFFF;
}
#subtrair{
	background-color: #E0FFFF;
}
#adicao{
	background-color: #E0FFFF;
}
#dividir{
	background-color: #E0FFFF;
}
#multiplicar{
	background-color: #E0FFFF;
}